body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 50px 100px;
  border-radius: 10px;
  background-color: rgb(245, 234, 242);
  border: 1px solid #111;
}

.title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 25px;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  display: block;
  margin: 50px auto 25px;
}

.links {
  font-size: 18px;
  text-align: center;
}

.links a {
  padding: 10px;
}

.bio {
  padding: 10px;
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
}
